<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="#page-top">{{title}}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#team">Order</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#social">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="content" role="main">

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading text-uppercase">Welcome To<br />{{title}}!</div>
        <div class="intro-lead-in">Hydration with Quality</div>
      </div>
      <!-- <a class="btn btn-outline-light text-uppercase rounded-circle" href="#services">V</a> -->
    </div>
  </header>

  <!-- Products -->
  <section class="page-section products" id="products">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Range</h2>
          <h3 class="section-subheading text-muted">Hydration throughout the day</h3>
        </div>
      </div>

      <div class="products_content">
        <div class="product p-3" *ngFor="let product of products">
          <img [src]="product.img" alt="Product">
          <div class="m-2">
            <p>{{product.size}}</p>
            <p>{{product.description}}</p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- About -->
  <section class="page-section bg-light" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">About Our Water</h2>
          <h3 class="section-subheading text-muted">How deep is this water coming from?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline animated fadeInUp">

            <li class="animated slideInLeft" *ngFor="let item of about; let odd = odd"
              [ngClass]="{ 'timeline-inverted': odd }">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid w-100" src="assets/../assets/img/icons/{{item.img}}" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>{{item.title}}</h4>
                  <h4 class="subheading">{{item.subtitle}}</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">{{item.description}}</p>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>That's
                  <br>The
                  <br>Source!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <!-- Services -->
  <section class="page-section" id="order">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">How to order</h2>
          <h3 class="section-subheading text-muted">Request our products by</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-6">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-at fa-stack-1x fa-inverse"></i>
          </span>
          <a href="mailto:sales@deeprockh2o.com?Subject=DeepRock%20H2O%20-%20Website%20Contact" target="_top">
            <h4 class="service-heading text-dark">
              E-mail</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
              architecto
              quo inventore harum ex magni, dicta impedit.</p>
          </a>
        </div>
        <div class="col-md-6">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
          </span>
          <a href="tel:+0434385978" class="text-dark">
            <h4 class="service-heading">Phone</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
              architecto
              quo inventore harum ex magni, dicta impedit.</p>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact -->
  <!-- <section class="page-section" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Contact Us</h2>
          <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" name="sentMessage" novalidate="novalidate">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="name" type="text" placeholder="Your Name *" required="required"
                    data-validation-required-message="Please enter your name.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="email" type="email" placeholder="Your Email *" required="required"
                    data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="phone" type="tel" placeholder="Your Phone *" required="required"
                    data-validation-required-message="Please enter your phone number.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" id="message" placeholder="Your Message *" required="required"
                    data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit">Send
                  Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Social -->
  <div class="social container border-top" id="social">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="card-container">
          <div *ngFor="let icon of socialIcons">
            <a class="circle-link" title="Social Media" href="{{icon.url}}" target="_blank" rel="noopener">
              <img src="../assets/../assets/img/social/{{icon.name}}.svg" alt="Social Icon" width="40px">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- Footer -->
<footer class="footer navbar bg-light">
  <span class="copyright">Copyright &copy; {{title}}</span>
</footer>

<router-outlet></router-outlet>